.container {
    background-color: #f08635;
    font-size: 35px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 25px;
    align-items: center;
}